<div class="container my-5">
  <div class="row">
    <div class="offset-1">
      <h2 class="">注文情報入力</h2>
    </div>
  </div>

  <div class="row">
    <strong class="">支払方法</strong>
  </div>

  <%= form_with model:@order, local:true do |f| %>
  <div class="form-check mt-3">
    <%= f.radio_button :payment_method, 0, checked: "checked" %>
    <%= f.label :クレジットカード %><br>
    <%= f.radio_button :payment_method, 1 %>
    <%= f.label :銀行振込 %>
  </div>

  <div class="row mt-3">
    <strong class="">お届け先</strong>
  </div>

  <div class="form-check mt-3">
    
  </div>


</div>